# db file
craft/config/db.php

# environment variables, site url
# craft/config/general.php

# license
craft/config/license.key


# sass cache
www/assets/.sass-cache/**

# image transforms
www/assets/images/_*

# storage
craft/storage/**
