/*
$weirdPink: #da5a47;

$nicerGreen: #0a5a47;

$lightestBlue: #689ad3;
$lightBlue: #4186d3;
$mainBlue: #0d56a6;
$mutedBlue: #274f7d;
$darkBlue: #04346c;

$lightestYellow: #ffe073;
$lightYellow: #ffd440;
$mainYellow: #ffc600;
$mustard: #bf9f30;
$darkMustard: #a68100;

$lightPeach: #ffa473;
$peach: #ff8240;
$orange: #ff5900;
$mutedOrange: #bf6230;
$burntOrange: #a63a00;


$mainBlue: #ff9c00;
$lightBlue: $burntOrange;

$black: #0a0a0a;
$white: #fafafa;
$lightGray: #f1f1f1;
$lightGrey: $lightGray;
*/
html {
  font-size: 62.5%;
  height: 100%; }

main, header, footer, section, article, div, h1, h2, h3, h4, h5, h6, p {
  box-sizing: border-box;
  position: relative; }

body {
  height: 100%;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #fafafa; }
  body.no-title .content {
    margin-top: 1.5rem; }

a {
  color: #7d0971;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  color: #0a0a0a; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: inherit;
      text-decoration: inherit; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.6rem; }

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem; }

textarea {
  display: block; }

textarea,
input {
  font-family: inherit; }

textarea,
input[type="text"],
input[type="email"] {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #0a0a0a;
  border-style: solid;
  padding: 0.8rem;
  font-size: 2rem; }

input[type="submit"] {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fafafa;
  background-color: #ff9c00;
  border: none; }
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #7d0971; }

form {
  margin-bottom: 4.5rem; }

.margin-container {
  width: 90%;
  margin: 0 auto; }

#page-title-container {
  margin: 0;
  padding: 2.5rem 2rem;
  background-color: #5a0752;
  margin-bottom: 2.5rem; }
  #page-title-container #page-title {
    color: #fafafa;
    width: 90%;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      #page-title-container #page-title {
        text-align: center; } }

article,
.section {
  background-color: #fafafa;
  padding: 0;
  margin-bottom: 7.5rem; }
  article:last-child,
  .section:last-child {
    margin-bottom: 4.5rem; }

.entry-content {
  padding: 2rem;
  border-bottom: 1px solid #cac8c7;
  border-left: 1px solid #cac8c7;
  border-right: 1px solid #cac8c7; }
  .entry-content.no-bottom-border {
    border-bottom: none; }
  .entry-content.no-border {
    border: none; }

#footer-fix {
  min-height: 100%; }

.content {
  display: block;
  margin: 0 auto;
  overflow: auto; }
  .content a {
    text-decoration: none; }
    .content a:hover {
      text-decoration: underline; }
  .content h1 {
    margin-top: 0;
    font-size: 35px;
    font-weight: bold; }

.title {
  padding: 1.5rem 2rem;
  margin: 0;
  background-color: #1fa8b1;
  color: #fafafa; }
  .title a {
    color: #fafafa;
    text-decoration: none;
    display: block; }
    .title a:hover {
      text-decoration: none;
      background-color: #23b7c1; }

.continue-reading {
  margin-bottom: 3rem; }

.tag {
  padding: 0.4rem 0.7rem;
  background-color: #ebeaea;
  border: 1px solid #D8D7D7;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/******************************************************************

Styles for index pages

*******************************************************************/
.index .title {
  padding: 0; }
  .index .title a {
    padding: 1.5rem 2rem; }

/****************************************************************

Blockquotes

*****************************************************************/
.blockquote-body-container {
  font-style: italic;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1.5;
  width: 80%;
  margin: 0;
  margin-left: auto;
  margin-right: auto; }
  .blockquote-body-container p {
    margin: 0;
    display: inline; }
  .blockquote-body-container .fa {
    color: #D8D7D7;
    position: absolute;
    font-style: inherit; }
  .blockquote-body-container .fa-quote-left {
    top: -1rem;
    left: -1.75rem; }
  .blockquote-body-container .fa-quote-right {
    bottom: 1rem;
    right: -2.25rem; }

.blockquote-icon-body-container {
  display: inline; }

.blockquote-body {
  display: inline; }

#header {
  padding: 2.5rem 5% 0;
  display: block;
  color: #0a0a0a;
  background: #ff9c00;
  overflow: hidden; }
  #header #site-logo {
    display: block;
    position: relative;
    margin-bottom: 2.5rem; }
  #header a {
    text-decoration: none;
    color: #fafafa;
    font-weight: bold; }
  #header #site-title {
    margin: 0;
    font-weight: normal;
    font-size: 6rem;
    line-height: 1;
    position: absolute;
    left: 32.5rem;
    top: 11.5rem;
    margin-left: -5rem; }
    #header #site-title a {
      font-size: inherit;
      padding-left: 10rem; }
      @media only screen and (max-width: 768px) {
        #header #site-title a {
          padding-left: 0; } }
    @media only screen and (max-width: 1400px) {
      #header #site-title {
        left: 30rem; } }
    @media only screen and (max-width: 1024px) {
      #header #site-title {
        top: 13rem;
        left: 27.5rem; } }
    @media only screen and (max-width: 768px) {
      #header #site-title {
        font-size: 5rem;
        margin: 2.5rem 0;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        text-align: center; } }
    @media only screen and (max-width: 540px) {
      #header #site-title {
        font-size: 35px; } }
  #header #site-logo {
    height: 25rem;
    width: 25rem;
    background-position: center -1rem;
    background-repeat: no-repeat;
    border-radius: 125px;
    display: inline-block; }
    @media only screen and (max-width: 768px) {
      #header #site-logo {
        display: block;
        margin: 0 auto;
        width: 20rem;
        height: 20rem; } }
  #header nav {
    display: block;
    position: absolute;
    top: 20rem;
    left: 37.5rem;
    width: calc(100% - 465px); }
    #header nav ul {
      margin: 0;
      list-style-type: none;
      padding: 0; }
      #header nav ul li {
        position: relative;
        display: inline-block;
        font-size: 2rem;
        text-align: center; }
        #header nav ul li.social-links {
          padding-top: 1rem;
          position: absolute;
          right: 0;
          top: -0.4rem; }
          @media only screen and (max-width: 1024px) {
            #header nav ul li.social-links {
              position: relative;
              top: 0; } }
          #header nav ul li.social-links a {
            display: inline;
            position: relative;
            font-size: 2.5rem;
            top: -0.4rem;
            margin-right: 1.5rem; }
            @media only screen and (max-width: 768px) {
              #header nav ul li.social-links a {
                margin-right: 0; } }
            #header nav ul li.social-links a:last-child {
              margin-right: 0; }
          @media only screen and (max-width: 768px) {
            #header nav ul li.social-links {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              padding-top: 0; }
              #header nav ul li.social-links a {
                flex-grow: 0;
                top: 0; }
                #header nav ul li.social-links a:first-child {
                  text-align: right;
                  flex-grow: 1; }
                #header nav ul li.social-links a:last-child {
                  text-align: left;
                  flex-grow: 1; } }
        #header nav ul li a {
          margin-top: 1rem;
          margin-right: 3.5rem;
          display: block;
          text-align: center; }
          #header nav ul li a:hover {
            color: #a63a00; }
            #header nav ul li a:hover ::after {
              content: ' ';
              width: 100%;
              border-bottom: 1px solid #a63a00; }
          @media only screen and (max-width: 768px) {
            #header nav ul li a {
              margin: 0;
              padding: 1.5rem;
              border-top: 1px solid #a63a00; } }
        @media only screen and (max-width: 1024px) {
          #header nav ul li {
            width: auto; } }
        @media only screen and (max-width: 768px) {
          #header nav ul li {
            width: 100%; } }
      @media only screen and (max-width: 1024px) {
        #header nav ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between; } }
      @media only screen and (max-width: 768px) {
        #header nav ul {
          display: block; } }
    @media only screen and (max-width: 1400px) {
      #header nav {
        left: 35rem;
        width: calc(100% - 415px); } }
    @media only screen and (max-width: 1024px) {
      #header nav {
        width: 100%;
        position: static;
        border: none;
        margin: 0 0 2rem; } }
    @media only screen and (max-width: 768px) {
      #header nav {
        position: relative;
        left: 0;
        top: auto;
        margin: 0; } }
  #header #main-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 768px) {
      #header #main-nav {
        display: none; } }

#mobile-nav {
  display: none; }
  @media only screen and (max-width: 768px) {
    #mobile-nav {
      display: block; } }
  #mobile-nav button {
    position: absolute;
    top: -30rem;
    color: #fafafa;
    padding: 0.7rem 1rem;
    border: 1px solid #fafafa;
    background-color: #ff9c00;
    font-size: 1.8rem; }
    @media only screen and (max-width: 540px) {
      #mobile-nav button {
        top: -30.5rem;
        left: -1rem;
        font-size: 1.4rem; } }

#footer {
  padding: 1.5rem;
  font-size: 1.2rem;
  display: block;
  color: #fff;
  background: #1fa8b1;
  position: relative;
  clear: both; }
  #footer .footer-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  #footer div#copyright {
    display: block;
    text-align: center; }
  #footer h4 {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: #fafafa; }
  @media only screen and (max-width: 540px) {
    #footer .footer-nav {
      display: block; } }
  #footer .footer-nav-header a {
    color: #fafafa;
    text-decoration: none; }
  #footer .footer-nav-item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media only screen and (max-width: 540px) {
      #footer .footer-nav-item {
        width: 100%;
        margin-top: 4rem; } }
  #footer li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.25; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #footer ul li {
      width: 100%; }

#copyright {
  margin-top: 4.5rem; }
  @media only screen and (max-width: 540px) {
    #copyright {
      border-top: 1px solid #fafafa; } }
  #copyright p {
    font-size: 1.4rem; }
    @media only screen and (max-width: 540px) {
      #copyright p {
        margin-bottom: 1rem; } }

.page-title-home .content {
  margin-top: 1.5rem; }

.entry-content.art {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0; }
  @media only screen and (max-width: 1024px) {
    .entry-content.art {
      flex-wrap: wrap; } }

.homepage-featured-post {
  width: 46%;
  display: inline-block;
  vertical-align: top; }
  .homepage-featured-post h3 a:hover {
    text-decoration: inherit; }
  .homepage-featured-post.work {
    margin-right: 4%; }
    @media only screen and (max-width: 1024px) {
      .homepage-featured-post.work {
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid #0a0a0a; } }
  .homepage-featured-post.play {
    margin-left: -1rem; }
    @media only screen and (max-width: 1024px) {
      .homepage-featured-post.play {
        margin-left: 0; } }
  .homepage-featured-post .featured-image {
    width: 50%;
    height: 200px;
    margin: 0 1.5rem 1.5rem 0;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 1400px) {
      .homepage-featured-post .featured-image {
        width: 100%;
        height: 300px; } }
    @media only screen and (max-width: 1024px) {
      .homepage-featured-post .featured-image {
        width: 50%;
        height: 200px; } }
    @media only screen and (max-width: 540px) {
      .homepage-featured-post .featured-image {
        width: 100%;
        height: 30rem; } }
  @media only screen and (max-width: 1024px) {
    .homepage-featured-post {
      width: 100%;
      display: block; } }

.art-preview {
  width: 100%;
  padding: 1rem;
  flex-grow: 1; }
  .art-preview#art-preview-1 {
    padding-left: 0; }
  .art-preview:last-child {
    padding-right: 0; }
  .art-preview#art-preview-3 {
    padding-right: 0; }
  .art-preview#art-preview-4 {
    display: none; }
  .art-preview .title {
    color: #0a0a0a;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid #0a0a0a;
    border-left: 1px solid #0a0a0a;
    border-right: 1px solid #0a0a0a;
    background-color: #f1f1f1;
    padding: 0; }
    .art-preview .title a {
      text-decoration: inherit;
      color: inherit;
      display: block;
      padding: 1.5rem; }
      .art-preview .title a:hover {
        background-color: inherit; }
  .art-preview .image-thumbnail {
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1400px) {
    .art-preview#art-preview-4 {
      display: none; } }
  @media only screen and (max-width: 1024px) {
    .art-preview {
      width: 50%; }
      .art-preview#art-preview-3 {
        padding-right: 1rem; }
      .art-preview:nth-child(odd) {
        padding-left: 0; }
      .art-preview:nth-child(even) {
        padding-right: 0; }
      .art-preview#art-preview-4 {
        display: block; } }
  @media only screen and (max-width: 768px) {
    .art-preview {
      padding-left: 0;
      padding-right: 0;
      width: 100%; }
      .art-preview#art-preview-4 {
        display: none; } }
  @media only screen and (max-width: 540px) {
    .art-preview {
      width: 100%; }
      .art-preview#art-preview-3 {
        display: none; } }

.view-more {
  background-color: #5a0752;
  border: 1px solid #5a0752; }
  .view-more:hover {
    background-color: #7d0971; }
  .view-more a {
    display: block;
    padding: 1.5rem;
    color: #fafafa;
    text-align: center;
    text-decoration: none; }
    .view-more a:hover {
      text-decoration: none; }

.page-title-home .web-development-portfolio img {
  max-width: 100%;
  max-height: 50rem; }

@media only screen and (max-width: 1024px) {
  .web-development .certs-conferences-portfolio {
    display: block; } }
.web-development .certs-and-conferences {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media only screen and (max-width: 1024px) {
    .web-development .certs-and-conferences {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; } }
  @media only screen and (max-width: 540px) {
    .web-development .certs-and-conferences {
      display: block; } }
.web-development .certs {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 5rem;
  margin-right: 2rem; }
.web-development .conferences {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 5rem; }
.web-development .skills-and-certs {
  margin-right: 1.5rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-grow: 1; }
  @media only screen and (max-width: 1024px) {
    .web-development .skills-and-certs {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; } }
  @media only screen and (max-width: 768px) {
    .web-development .skills-and-certs {
      display: block; } }
.web-development .skill-group {
  margin-right: 5rem; }
  .web-development .skill-group h4 {
    margin-bottom: 1rem;
    margin-left: 0.2rem; }
.web-development .skill-stars {
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 3rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 1024px) {
    .web-development .skill-stars {
      margin-top: 0; } }
  @media only screen and (max-width: 768px) {
    .web-development .skill-stars {
      margin-top: 4rem; } }
.web-development .web-development-portfolio {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-grow: 4;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media only screen and (max-width: 1400px) {
    .web-development .web-development-portfolio {
      flex-grow: 2; } }
  @media only screen and (max-width: 1024px) {
    .web-development .web-development-portfolio {
      display: block; } }
.web-development h4 {
  margin-bottom: 0; }
.web-development ul {
  margin: 0;
  padding: 0; }
.web-development li {
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0; }
.web-development .skill .tag {
  display: inline-block;
  width: 10rem;
  margin-right: 0.5rem; }
.web-development .skill .fa {
  font-size: 2.3rem;
  vertical-align: middle;
  margin-top: -0.2rem; }
@media only screen and (max-width: 1400px) {
  .web-development {
    flex-wrap: wrap; } }
@media only screen and (max-width: 1024px) {
  .web-development {
    display: block; } }

.web-development-preview {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .web-development-preview .image-thumbnail {
    display: inline; }
  .web-development-preview .snippet {
    display: inline; }
  .web-development-preview:first-child {
    margin-right: 3.5rem; }
    @media only screen and (max-width: 1024px) {
      .web-development-preview:first-child {
        margin-right: 0; } }
  @media only screen and (max-width: 1400px) {
    .web-development-preview#web-development-preview-2 {
      display: none; } }
  @media only screen and (max-width: 1024px) {
    .web-development-preview#web-development-preview-2 {
      display: block;
      display: none; } }

.orange {
  color: #ff9c00; }

.gray {
  color: #D8D7D7; }

.blog img {
  display: block;
  margin: 0 auto;
  max-width: 60rem; }
  @media only screen and (max-width: 1024px) {
    .blog img {
      max-width: 50rem; } }
  @media only screen and (max-width: 768px) {
    .blog img {
      max-width: 100%; } }
  .blog img.landscape {
    max-width: 60rem; }
    @media only screen and (max-width: 1024px) {
      .blog img.landscape {
        max-width: 50rem; } }
    @media only screen and (max-width: 768px) {
      .blog img.landscape {
        max-width: 100%; } }
  .blog img.portrait {
    max-height: 50rem; }
    @media only screen and (max-width: 768px) {
      .blog img.portrait {
        max-width: 100%; } }

.posted-on-date {
  font-size: 1.6rem; }

.art-portfolio {
  	/************************************************************
  
  	Index Entries
  
  	*************************************************************/ }
  .art-portfolio img {
    display: block;
    margin: 0 auto;
    height: auto; }
    .art-portfolio img.landscape {
      max-width: 75%; }
    .art-portfolio img.portrait {
      max-width: 50%; }
  .art-portfolio.piece .entry-content {
    padding-top: 0; }
  .art-portfolio .media h5 {
    margin-bottom: 0;
    border-bottom: 1px solid #0a0a0a;
    font-size: 15px; }
  .art-portfolio .media p {
    margin-top: 0.5rem;
    font-size: 1.5rem; }
  .art-portfolio.index .entry-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 1024px) {
      .art-portfolio.index .entry-content {
        display: block; } }
    .art-portfolio.index .entry-content img {
      margin: 0; }
  .art-portfolio.index .featured-image {
    width: 100%; }
    .art-portfolio.index .featured-image img {
      max-width: none;
      width: 100%; }
  .art-portfolio.index .landscape {
    margin-right: 5rem;
    width: 75%; }
    @media only screen and (max-width: 1024px) {
      .art-portfolio.index .landscape {
        width: 75%;
        margin: 0 auto; } }
    @media only screen and (max-width: 768px) {
      .art-portfolio.index .landscape {
        width: 100%;
        margin: 0; } }
  .art-portfolio.index .portrait {
    width: 50%;
    margin-left: 5rem;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
    @media only screen and (max-width: 1400px) {
      .art-portfolio.index .portrait {
        width: 60%; } }
    @media only screen and (max-width: 1024px) {
      .art-portfolio.index .portrait {
        margin: 0 auto;
        width: 65%; } }
    @media only screen and (max-width: 768px) {
      .art-portfolio.index .portrait {
        width: 75%; } }
    @media only screen and (max-width: 540px) {
      .art-portfolio.index .portrait {
        width: 100%; } }
  .art-portfolio.index .art-description {
    width: 100%; }

.web-development-portfolio .featured-image {
  margin-right: 5%;
  overflow: hidden;
  width: 60%;
  line-height: 0;
  border: 1px solid #D8D7D7; }
  .web-development-portfolio .featured-image.landscape {
    max-height: 60rem; }
  @media only screen and (max-width: 1400px) {
    .web-development-portfolio .featured-image {
      width: 100%; } }
  @media only screen and (max-width: 1024px) {
    .web-development-portfolio .featured-image {
      width: calc(100% + 40px);
      margin: -2rem -2rem 2rem;
      border: none;
      border-bottom: 1px solid #D8D7D7;
      border-top: 1px solid #D8D7D7; } }
  .web-development-portfolio .featured-image img {
    width: 100%;
    height: auto; }

.web-development-preview .image-thumbnail {
  height: 40rem;
  width: auto; }

.skills {
  margin-top: 5rem; }

.skills-technologies {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0; }
  .skills-technologies .tag {
    flex-grow: 1;
    margin-right: 0.8rem; }

.worked-on-dates h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  text-decoration: underline; }
.worked-on-dates p {
  margin-top: 0; }

.image-and-summary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .image-and-summary .summary {
    width: 40%; }
    @media only screen and (max-width: 1024px) {
      .image-and-summary .summary {
        width: 100%; } }
  @media only screen and (max-width: 1024px) {
    .image-and-summary {
      display: block; } }

/*************************************************

Individual entries

**************************************************/
.project .entry-content {
  padding: 2rem 0;
  border: none; }
  .project .entry-content .summary {
    margin-right: 5%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 50%; }
    @media only screen and (max-width: 1024px) {
      .project .entry-content .summary {
        margin-right: 0;
        width: 100%; } }
  .project .entry-content .featured-image {
    margin-right: 0;
    width: 125%;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
    .project .entry-content .featured-image.portrait {
      height: 62.5%; }
    .project .entry-content .featured-image.landscape {
      height: 100%; }
    @media only screen and (max-width: 1024px) {
      .project .entry-content .featured-image {
        width: 100%;
        margin: 0 0 3rem; } }
  .project .entry-content img {
    border: 1px solid #D8D7D7; }
  .project .entry-content .skills h4 {
    font-size: 2rem; }
  .project .entry-content .full-description {
    margin-top: 5rem; }

/********************************************

blockquotes

I may move these to their own sass file


********************************************/
.testimonials {
  margin: 5rem auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .testimonials .blockquote-body-container {
    margin: 0;
    width: auto; }
    .testimonials .blockquote-body-container p.testimonial-name {
      display: block; }
  @media only screen and (max-width: 540px) {
    .testimonials {
      display: block; } }

.testimonial-image {
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 2.5rem; }
  @media only screen and (max-width: 540px) {
    .testimonial-image {
      margin: 0 auto 2.5rem; } }

.testimonial-name {
  font-style: normal; }

#contact-form {
  margin: -2rem 2rem 3rem; }

input[type="submit"] {
  margin-top: 1.5rem; }

.input-label {
  margin-top: 3rem;
  margin-bottom: 0; }

.errors {
  margin: 0;
  color: #d70f0f; }

.thanks {
  padding-bottom: 2rem; }

.page-title-404 #page-title-container {
  text-align: center; }

._404 {
  margin: 2rem 2rem 6rem; }
  ._404 h2,
  ._404 p {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
