{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Web Development" %}



{% block content %}
	<ul class="skills-technologies">
		{% for tag in craft.tags.group('default') %}
	    	<li class="tag">{{ tag.title }}</li>
		{% endfor %}
	</ul>
	{% for entry in craft.entries.section('webDevelopment').order('startDate desc').find() %}
		<article class="web-development-portfolio index">
			<h2 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
			<div class="entry-content">
				<div class="image-and-summary">
					{% for asset in entry.featuredImage.limit(1).find() %}
						<div class="featured-image"><a href="{{ entry.url }}"><img src="{{ asset.getUrl() }}"></a></div>
					{% endfor %}
					<div class="summary">
						{% if entry.startDate %}
							<div class="worked-on-dates">
								<h4>Worked on</h4>
								<p>from <strong>{{ entry.startDate | date('F Y') }}</strong>
								{% if entry.endDate %}
									to <strong>{{entry.endDate | date('F Y') }}</strong></p>
								{% else %}
									to <strong>Present</strong></p>
								{% endif %}
							</div>
						{% endif %}
						<div class="snippet">{{ entry.indexSnippet }}</div>
						<div class="project-url"><a href="{{ entry.webPrefix }}{{ entry.webLink }}">{{  entry.webLink }}</a></div>
					</div>
				</div>
				{% set tags = entry.skills %}
				{% if tags | length %}
					<div class="skills">
					    <h4>How I got it done</h4>
					    <div class="skills-technologies">
						    {% for tag in tags %}
						    	<span class="tag">{{ tag }}</span>
						    {% endfor %}
					    </div>
					</div>
				{% endif %}
			</div>
			<div class="view-more"><a href="{{ entry.url }}">That&nbsp;sounds&nbsp;really&nbsp;cool.<br>Tell&nbsp;me&nbsp;more.</a></div>
		</article>
	{% endfor %}
{% endblock %}
