.art-portfolio {
	img {
		display: block;
		margin: 0 auto;
		height: auto;

		&.landscape {
			max-width: 75%;
		}

		&.portrait {
			max-width: 50%;
		}
	}

	&.piece {
		.entry-content {
			padding-top: 0;
		}
	}

	.media {
		h5 {
			margin-bottom: 0;
			border-bottom: 1px solid $black;
			font-size: 15px;
		}

		p {
			margin-top: rem(5px);
			font-size: rem(15px);
		}
	}

	/************************************************************

	Index Entries

	*************************************************************/

	&.index {

		.entry-content {
			@include flexbox();

			@include media(large){
				display: block;
			}

			img {
				margin: 0;
			}
		}

		.featured-image {
			width: 100%;

			img {
				max-width: none;
				width: 100%;
			}
		}

		.landscape {
			margin-right: rem(50px);
			width: 75%;

			@include media(large){
				width: 75%;
				margin: 0 auto;
			}

			@include media(medium){
				width: 100%;
				margin: 0;
			}
		}

		.portrait {
			width: 50%; 
			margin-left: rem(50px);
			@include order(1);
			
			@include media(xlarge){
				width: 60%;
			}

			@include media(large){
				margin: 0 auto;
				width: 65%;
			}

			@include media(medium){
				width: 75%;
			}

			@include media(small){
				width: 100%;
			}
		}

		.art-description {
			width: 100%;
		}
	}
}