.blog {
	.featured-image {
		display: block;
		margin: 0 auto;

		&.landscape {
			max-width: rem(600px);

			@include media (large){
				max-width: rem(500px)
			}


			@include media (medium){
				max-width: 100%;
			}
		}

		&.portrait {
			max-height: rem(500px);

			@include media (medium){
				max-width: 100%;
			}
		}
	}
}