.blog {
	img {
		display: block;
		margin: 0 auto;
		max-width: rem(600px);

		@include media (large){
			max-width: rem(500px)
		}


		@include media (medium){
			max-width: 100%;
		}

		&.landscape {
			max-width: rem(600px);

			@include media (large){
				max-width: rem(500px)
			}


			@include media (medium){
				max-width: 100%;
			}
		}

		&.portrait {
			max-height: rem(500px);

			@include media (medium){
				max-width: 100%;
			}
		}
	}
}

.posted-on-date {
	font-size: rem(16px);
}