

#footer { 
	padding: rem(15px); 
	font-size: rem(12px); 
	display: block;
	color: #fff; 
	background: $accentOne; 
	position: relative;
	clear: both;

	.footer-nav {
		@include flexbox();
		flex-direction: row;
		flex-wrap: wrap;
	}

	div {

		&#copyright {
			display: block;
			text-align: center;
		}
	}

	h4 {
		margin-bottom: 0;
		font-size: rem(14px);
		color: $white;
	}

	.footer-nav {
		@include media(small){
			display: block;
		}
	}

	.footer-nav-header {
		a {
			color: $white;
			text-decoration: none;
		}
	}

	.footer-nav-item {
		@include flex(1);

		@include media(small){
			width: 100%;
			margin-top: rem(40px);
		}
	}


	li {
		a {
			color: $white;
			text-decoration: none;
			font-size: rem(14px);
			line-height: 1.25;
		}

	}

	

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			width: 100%;
		}
	}
}

#copyright {
	margin-top: rem(45px);

	@include media (small){
		border-top: 1px solid $white;
	}
	p {
		font-size: rem(14px);

		@include media (small){
			margin-bottom: rem(10px);
		}
	}
}