
#header { 
	padding: rem(25px) 5% 0; 
	display: block; 
	color: $black; 
	background: $main;
	overflow: hidden;

	#site-logo {
		display: block;
		position: relative;
		margin-bottom: rem(25px);
	}

	a {
		text-decoration: none;
		color: $white;
		font-weight: bold;
	}

	#site-title {
		margin: 0; 
		font-weight: normal; 
		font-size: rem(60px); 
		line-height: 1; 
		position: absolute;
		left: rem(325px);
		top: rem(115px);
		margin-left: rem(-50px);

		a {
			font-size: inherit;
			padding-left: rem(100px);

			 @include media(medium){
			 	padding-left: 0;
			 }
		}

		@include media(xlarge){
			left: rem(300px);
		}

		@include media(large){
			top: rem(130px);
			left: rem(275px);
		}

		@include media(medium){
			font-size: rem(50px);
			margin: rem(25px) 0;	
			position: relative;
			top: 0;
			left: 0;
			transform: none;
			text-align: center;
		}

		@include media(small){
			font-size: 35px;
		}
	}

	#site-logo {
		height: rem(250px);
		width: rem(250px);
		background-position: center rem(-10px);
		background-repeat: no-repeat;
		border-radius: (125px);
		display: inline-block;

		@include media(medium){
			display: block;
			margin: 0 auto;
			width: rem(200px);
			height: rem(200px);
		}
	}

	nav {
		display: block; 
		position: absolute;
		top: rem(200px);
		left: rem(375px);
		width: calc(100% - 465px);


		ul {
			margin: 0; 
			list-style-type: none; 
			padding: 0;

			li {
				position: relative;
				display: inline-block;
				font-size: rem(20px);
				text-align: center;

				&.social-links {
					padding-top: rem(10px);
					position: absolute;
					right: 0;
					top: rem(-4px);

					@include media(large) {
						position: relative;
						top: 0;
					}

					a {
						display: inline;
						position: relative;
						font-size: rem(25px);
						top: rem(-4px);

						&:last-child {
							margin-right: 0;
						}
					}

					@include media(medium) {
						display: flex;
						padding-top: 0;

						a {
							flex-grow: 0;
							top: 0;

							&:first-child {
								text-align: right;
								flex-grow: 1;
							}

							&:last-child {
								text-align: left;
								flex-grow: 1;
							}
						}
					}
				}

				a {
					margin-top: rem(10px);
					margin-right: rem(15px);
					display: block;
					text-align: center;

					&:hover {
						color: $mainDark;

						::after {
							content: ' ';
							width: 100%;
							border-bottom: 1px solid $mainDark;
						}
					}

					@include media(medium){
						margin: 0;
						padding: rem(15px);
						border-top: 1px solid $mainDark;
					}
				}



				@include media(large){
					width: auto;
				}

				@include media(medium){
					width: 100%;
				}
			}

			@include media(large){
				display: flex;
				justify-content: space-between;
			}

			@include media(medium){
				display: block;
			}
		}

		@include media(xlarge){
			left: rem(350px);
			width: calc(100% - 415px);
		}

		@include media(large){
			width: 100%;
			position: static;
			border: none;
			margin: 0 0 rem(20px);
		}

		@include media(medium){
			position: relative;
			left: 0;
			top: auto;
			margin: 0;
		}
	}


	#main-nav {
		
		display: flex; 

		@include media (medium) {
			display: none;
		}
	}
}


#mobile-nav {
	display: none;

	@include media(medium) {
		display: block;
	}

	button {
		position: absolute;
		top: rem(-300px);
		color: $white;
		padding: rem(7px) rem(10px);
		border: 1px solid $white;
		background-color: $main;
		font-size: rem(18px);

		@include media (small) {
			top: rem(-305px);
			left: rem(-10px);
			font-size: rem(14px);
		}


	}
}