.page-title-home {
	.content {
		margin-top: rem(15px);
	}
}

.entry-content {
	&.art {
		@include flexbox();
		padding: 0;

		@include media(large){
			flex-wrap: wrap;
		}
	}
}

.homepage-featured-post {
	width: 46%;
	display: inline-block;
	vertical-align: top;

	h3 {
		a {
			&:hover {
				text-decoration: inherit;
			}
		}
	}

	&.work {
		margin-right: 4%;

		@include media(large){
			padding-bottom: rem(10px);
			margin-bottom: rem(30px);
			border-bottom: 1px solid $black;
		}

	}

	&.play {
		margin-left: rem(-10px);

		@include media(large){
			margin-left: 0;
		}
	}

	.featured-image {
		width: 50%;
		height: 200px;
		margin: 0 rem(15px) rem(15px) 0;
		float: left;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		z-index: 10;

		@include media(xlarge){
			width: 100%;
			height: 300px;
		}

		@include media(large){
			width: 50%;
			height: 200px;
		}

		@include media(small){
			width: 100%;
			height: rem(300px);
		}
	}

	@include media(large){
		width: 100%;
		display: block;
	}
}

.art-preview {

	width: 100%;
	padding: rem(10px);
	flex-grow: 1;

	&#art-preview-1 {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	&#art-preview-3 {
		padding-right: 0;
	}

	&#art-preview-4 {
		display: none;
	}

	.title {
		color: $black;
		text-align: center;
		font-size: rem(20px);
		border-bottom: 1px solid $black;
		border-left: 1px solid $black;
		border-right: 1px solid $black;
		background-color: $lightGray;
		padding: 0;

		a {
			text-decoration: inherit;
			color: inherit;
			display: block;
			padding: rem(15px);

			&:hover {
				background-color: inherit;
			}
		}
	}

	.image-thumbnail {
		width: 100%;
		height: rem(300px);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@include media(xlarge){
		&#art-preview-4 {
			display: none;
		}
	}

	@include media(large){
		width: 50%;

		&#art-preview-3 {
			padding-right: rem(10px);
		}

		&:nth-child(odd){
			padding-left: 0;
		}

		&:nth-child(even){
			padding-right: 0;
		}

		&#art-preview-4 {
			display: block;
		}
	}

	@include media(medium){
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		&#art-preview-4 {
			display: none;
		}
	}

	@include media(small){
		width: 100%;

		&#art-preview-3 {
			display: none;
		}
	}

}


.view-more {
	background-color: $accentTwoDark;
	border: 1px solid $accentTwoDark;

	&:hover {
		background-color: $accentTwo;
	}

	a {
		display: block;
		padding: rem(15px);
		color: $white;
		text-align: center;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.page-title-home {
	.web-development-portfolio {
		img {
			max-width: 100%;
			max-height: rem(500px);
		}
	}
}

.web-development {

	.certs-conferences-portfolio {
		@include media(large){
			display: block;
		}
	}


	.certs-and-conferences {
		@include flex(1);

		@include media(large){
			@include flexbox();
		}

		@include media(small){
			display: block;
		}
	}

	.certs {
		@include flex(1);
		margin-bottom: rem(50px);
		margin-right: rem(20px);
	}

	.conferences {
		@include flex(1);
		margin-bottom: rem(50px);	
	}

	.skills-and-certs {
		margin-right: rem(15px);
		@include flex(1);
		flex-grow: 1;

		@include media(large){
			@include flexbox();
		}

		@include media (medium){
			display: block;
		}
	}

	.skill-group {
		margin-right: rem(50px);

		h4 {
			margin-bottom: rem(10px);
			margin-left: rem(2px);
		}
	}

	.skill-stars {

		flex-wrap: wrap;

		@include flex(1);
			margin-top: rem(30px);
			margin-bottom: rem(20px);

		@include media (large) {
			margin-top: 0;
		}

		@include media (medium) {
			margin-top: rem(40px);
		}
	}

	.web-development-portfolio {
		@include flex(1);
		flex-grow: 4;
		@include flexbox();

		@include media(xlarge){
			flex-grow: 2;
		}

		@include media (large) {
			display: block;
		}
	}

	h4 {
		margin-bottom: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0 0 rem(10px);
		padding: 0;
	}

	.skill {
		.tag {
			display: inline-block;
			width: rem(100px);
			margin-right: rem(5px);
		}

		.fa {
			font-size: rem(23px);
			vertical-align: middle;
			margin-top: rem(-2px);
		}
	}

	@include media(xlarge){
		flex-wrap: wrap;
	}

	@include media(large){
		display: block;
	}
}

.web-development-preview {
	@include flex(1);

	.image-thumbnail {
		display: inline;
	}

	.snippet {
		display: inline;
	}
	
	&:first-child {
		margin-right: rem(35px);

		@include media(large){
			margin-right: 0;	
		}

	}

	&#web-development-preview-2 {
		@include media(xlarge){
			display: none;
		}

		@include media (large) {
			display: block;
			display: none;
		}
	}
}

.orange {
	color: $main;
}

.gray {
	color: color(gray, light);	
}