body { 
	margin: 50px; 
	font-family: sans-serif; 
	background: #fff; 
}

#container { 
	margin: 0 auto; 
	max-width: 95%;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#content { 
	display: block; 
	padding: 25px; 
	background: #fff; 

	a {
		color: #da5a47; 
		text-decoration: none; 

		&:hover {
			text-decoration: underline;
		}
	}

	h1 { 
		margin-top: 0; 
		font-size: 35px; 
		font-weight: bold; 
	}
}