.web-development-portfolio {
	.featured-image {
		margin-right: 5%;
		overflow: hidden;
		width: 60%;
		line-height: 0;
		border: 1px solid $black;

		&.landscape {
			max-height: rem(600px);
		}

		@include media(xlarge){
			width: 100%;
		}

		@include media(large){
			width: calc(100% + 40px);
			margin: rem(-20px) rem(-20px) rem(20px);
			border: none;
			border-bottom: 1px solid $black;
			border-top: 1px solid $black;
		}

		img {
			width: 100%; 
			height: auto;
			
		}
	}
}

.web-development-preview {
	.image-thumbnail {
		height: rem(400px);
		width: auto;	
	}
}

.skills {
	margin-top: rem(50px);
}

.skills-technologies {

	@include flexbox();
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;

	.tag {
		flex-grow: 1;
		margin-right: rem(8px);
	}
	
}

.worked-on-dates {

	h4 {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: normal;
		text-decoration: underline;
	}
	p {
		margin-top: 0;
	}
}

.image-and-summary {
	@include flexbox();

	.summary {
		width: 40%;

		@include media(large){
			width: 100%;
		}
	}

	@include media(large){
		display: block;
	}
}

/*************************************************

Individual entries

**************************************************/

.project {
	.entry-content {
		padding: rem(20px) 0;
		border: none;

		.summary {
			margin-right: 5%;
			@include order(1);
			width: 50%;

			@include media (large) {
				margin-right: 0;
				width: 100%;
			}
		}

		.featured-image {
			margin-right: 0;
			width: 125%;
			@include order(2);

			&.portrait {
				height: 62.5%;
			}

			&.landscape {
				height: 100%;
			}

			@include media(large){
				width: 100%;
				margin: 0 0 rem(30px);
			}
		}

		img {
			border: none;
		}

		.skills {
			h4 {
				font-size: 2rem;
			}
		}

		.full-description {
			margin-top: rem(50px);
		}
	}
}


/********************************************

testimonials

I may move these to their own sass file


********************************************/

.testimonials {
	margin: rem(50px) auto 0;
	@include flexbox();
	flex-wrap: wrap;
	align-items: center;

	@include media(small){
		display: block;
	}
}

.testimonial-image {
	min-width: rem(100px);
	max-width: rem(100px);
	height: rem(100px);
	width: rem(100px);
	border-radius: rem(50px);
	@include flex(1);
	margin-right: rem(25px);

	@include media(small){
		margin: 0 auto rem(25px);

	}
}

.testimonial-body-container {
	font-style: italic;
	@include flex(1);
  	line-height: 1.5;

  	margin: 0 rem(20px);

	p {
		margin: 0;
		display: inline;



		&.testimonial-name {
			display: block;
		}
	}

	.fa {
		color: color(gray, light);
		position: absolute;
		font-style: inherit;
	}

	.fa-quote-left {
		top: rem(-10px);
		left: rem(-17.5px);
	}

	.fa-quote-right {
		bottom: rem(10px);
		right: rem(-22.5px);
	}
}

.icon-body-container {
	display: inline;
}
.testimonial-body {
  display: inline;
}