{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Artworks" %}

{% block content %}

	{% for entry in craft.entries.section('art').find() %}
		<article class="art-portfolio index">
			<h2 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
			<div class="entry-content">
				<div class="featured-image {{ entry.orientation }}">
					{% for asset in entry.images.limit(1) %}
					    <a href="{{ entry.url }}"><img src="{{ asset.getUrl() }}"/></a>
					{% endfor %}
				</div>
				<div class="art-description">
					{{ entry.artistStatement }}
					<div class="media">
						<h5>Media Type</h5>
						{{ entry.media }}
					</div>
				</div>
			</div>
		</article>
	{% endfor %}
{% endblock %}
