{#
 # Blog index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/blog is
 # requested, because it is located at blog/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Blog" %}
	

{% block content %}
		
	{% for entry in craft.entries.section('blog').find() %}
		<article class="blog index">
			<h2 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
			<div class="entry-content">
				{% for block in entry.featuredImage %}
					<img class="featured-image" src="{{ block.image.first().getUrl() }}">
					<a href="{{ entry.url }}"><div class="featured-image" style="{% if block.image is defined %}background-image: url('{{ block.image.first().getUrl() }}');{% endif %} {% if block.fill is defined %}background-size: {{ block.fill }};{% endif %} {% if block.focalPoint is defined %}background-position: {{ block.focalPoint }}; {% endif %}"></div></a>
				{% endfor %}
				{{ entry.homepageSnippet }}
			</div>
			<div class="view-more"><a href="{{ entry.url }}">This&nbsp;is&nbsp;fascinating.<br>I&nbsp;want&nbsp;to&nbsp;know&nbsp;more.</a></div>
		</article>
	{% endfor %}
{% endblock %}
