{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="assets/style.css"> 
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li class="nav-item"><a href="{{ url('blog') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>Blog</a></li>
					<li class="nav-item"><a href="{{ url('portfolio') }}" {% if craft.request.firstSegment == 'portfolio' %}class="active"{% endif %}>Portfolio</a>
						{% nav category in craft.categories.group('portfolio') %}
						<ul>
							<li><a href="{{ category.url }}">{{ category.title }}</a>
							{% ifchildren %}
								<ul class="nav-ul second-level">
									<li class="nav-item second-level"><a href="{{ category.url }}" class="view-children">View All</a></li>
								    {% children %}
								</ul>
							{% endifchildren %}
							</li>
						</ul>
						{% endnav %}
					</li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			<div class="blog-list">
				<h1 class="title"><a href="{{ url('blog') }}">Blog</a></h1>
					<ul>
						{% for entry in craft.entries.section('blog').limit(5).find() %}
							<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
						{% endfor %}
					</ul>
			</div>
			<div class="portfolio-types-list">
				<h1 class="title"><a href="{{ url('portfolio') }}">Portfolio</a></h1>
				<ul>
					{% nav category in craft.categories.group('portfolio') %}
						<li>
							<a href="{{ category.url }}">{{ category.title }}</a>
							{% ifchildren %}
								<ul>
									<li><a href="{{ category.url }}" class="view-children">View All</a></li>
								    {% children %}
								</ul>
							{% endifchildren %}
						</li>
					{% endnav %}
				</ul>
			</div>
			<div id="copyright">
			<p>Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved.</p>
			</div>
		</footer>
	</div>
</body>
</html>
