{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width">
		<title>{% if title is defined and title != "Home" %}{{ title }} - {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/style.css"> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">
		<script src="https://use.fontawesome.com/7da62fb7ed.js"></script>
	</head>

	<body class="{% if title is defined %}page-title-{{ title | lower | replace({' ': '-'}) }}{% else %}no-title{% endif %}">
		<header id="header">
				{% for image in craft.assets.filename('Me.jpg') %}
					<a href="{{ siteUrl }}" class="home-link" id="site-logo" style="background-image: url('{{ image.getUrl() }}')"></a>
				{% endfor %}
				<h1 class="home-link" id="site-title">
					<a href="{{ siteUrl }}">{{ siteName }}</a>
				</h1>
			<nav>
				<div id="mobile-nav">
					<button><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
				</div>
				<ul id="main-nav" class="top-level-nav">
					<li class="nav-item"><a href="{{ url('blog') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>Blog</a></li>
					<li class="nav-item"><a href="{{ url('art') }}" {% if craft.request.firstSegment == 'art' %}class="active"{% endif %}>Art</a></li>
					<li class="nav-item"><a href="{{ url('web-development') }}" {% if craft.request.firstSegment == 'webDevelopment' %}class="active"{% endif %}>Web Development</a></li>
					<li class="nav-item"><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
					<li class="nav-item social-links">
						<a href="https://www.linkedin.com/in/jimchristieweb
" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
						<a href="https://www.github.com/jimchristie" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
						<a href="http://stackexchange.com/users/1405583/jimirings?tab=accounts" target="_blank"><i class="fa fa-stack-exchange" aria-hidden="true"></i></a>
					</li>
				</ul>
			</nav>
			
		</header>

		{% if title is defined and title != "Home" %}<div id="page-title-container"><h1 id="page-title">{{ title }}</h1></div>{% endif %}
		<main class="content">
			<div class="margin-container">
				{% block content %}
					<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
					<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
				{% endblock %}
			</div>
		</main>

		<footer id="footer">
			<div class="margin-container">
				<div class="footer-nav">
					<div class="footer-nav-item blog-list">
						<h3 class="footer-nav-header"><a href="{{ url('blog') }}">Blog</a></h3>
							<h4>Work</h4>
							<ul>
								{% set featuredPosts = craft.entries.section('blog').featuredPost('1') %}
								{% for entry in featuredPosts.type('business').limit(3).find() %}
									<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
							<h4>Play</h4>
							<ul>
								{% for entry in featuredPosts.type('pleasure').limit(3).find() %}
									<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
					</div>
					<div class="footer-nav-item art-list">
						<h3 class="footer-nav-header"><a href="{{ url('art') }}">Art</a></h3>
							<h4>Paintings</h4>
							<ul>
								{% set featuredArt = craft.entries.section('art').featuredArt('1') %}
								{% for entry in featuredArt.type('paintings').limit(3).find() %}
									<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
							<h4>Digital Art</h4>
							<ul>
								{% for entry in featuredArt.type('digitalArt').limit(3).find() %}
									<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
					</div>
					<div class="footer-nav-item web-development-list">
						<h3 class="footer-nav-header"><a href="{{ url('web-development') }}">Web Development</a></h3>
							<ul>
								{% for entry in craft.entries.section('webDevelopment').order('featured desc').limit(5).find() %}
									<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
								{% endfor %}
							</ul>
					</div>
				</div>
				<div id="copyright">
					<p>Copyright {{ now.year }} {{ siteName }}.<br>All rights reserved.</p>
				</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ siteUrl }}assets/js/main.js"></script>
		<script src="{{ siteUrl }}assets/js/instantclick.min.js" data-no-instant></script>
		<script data-no-instant>InstantClick.init('mousedown');</script>
	</body>
</html>
