{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Home" %}

{% block content %}

{% set featuredWeb = {
    mode: 'crop',
    width: 1000,
    height: 500,
    quality: 75,
    position: 'top-center'
} %}

{% set featured = {
	mode: 'fit',
    width: 750,
    quality: 100,
    position: 'center-center'
} %}

	<article>
		<h2 class="title">{{ entry.title }}</h2>
		<div class="entry-content">
			{{ entry.body }}
		</div>
	</article>
	<div class="section index">
		<h2 class="title"><a href="{{ url('blog') }}">Blog</a></h2>
		<div class="entry-content no-bottom-border">
			{% set featuredPosts = craft.entries.section('blog').featured('1') %}
			{% for category in craft.categories.group('blog').relatedTo(featuredPosts) %}
			    {% for entry in featuredPosts.relatedTo(category).limit('1') %}
				    {% if (category == 'Work') or (category == 'Play') %}
					<div class="homepage-featured-post {{ category | lower }}">
						<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
						{% for block in entry.featuredImage %}
							<a href="{{ entry.url }}"><div class="featured-image" style="{% if block.image is defined %}background-image: url('{{ block.image.first().getUrl(featured) }}');{% endif %}{% if block.fill is defined %} background-size: {{ block.fill }};{% endif %}{% if block.focalPoint %} background-position: {{ block.focalPoint }};{% endif %}"></div></a>
						{% endfor %}


						<div>{{ entry.homepageSnippet }}</div>
						<div class="continue-reading"><a href="{{ entry.url }}">Continue reading</a></div>
					</div>
				    {% endif %}
			    {% endfor %}
			{% endfor %}
		</div>
		<div class="view-more"><a href="{{ url('blog') }}">You're&nbsp;an&nbsp;amazing&nbsp;writer.<br>I&nbsp;want&nbsp;to&nbsp;read&nbsp;some&nbsp;more.</a></div>
	</div>
	<div class="section index">
		<h2 class="title"><a href="{{ url('art') }}">Art</a></h2>
		<div class="entry-content art no-border">
			{% set featuredArt = craft.entries.section('art').featured('1') %}
			{% for entry in featuredArt.limit(4).find() %}
				<div class="art-preview" id="art-preview-{{loop.index}}">
					{% for asset in entry.images.limit(1).find() %}
					    <a href="{{ entry.url }}"><div class="image-thumbnail" style="background-image: url('{{ asset.getUrl(featured) }}'); {% if entry.focalPoint %}background-position: {{entry.focalPoint}}; {% endif %}"></div></a>
					{% endfor %}
					<h3 class="title"><a href="{{ entry.getUrl() }}">{{entry.title}}</a></h3>
				</div>
			{% endfor %}
		</div>
		<div class="view-more"><a href="{{ url('art') }}">Show me more of that fine, fine art.</a></div>
	</div>
	<div class="section index">
		<h2 class="title"><a href="{{ url('web-development') }}">Web Development</a></h2>
		<div class="entry-content web-development">
			<div class="flex certs-conferences-portfolio">
				<div class="certs-and-conferences">
					<div class="certs">
						<h4>Certifications</h4>
						<ul>
							{% for certification in craft.entries.section('certifications').limit(5).find() %}
								<li><a href="{{ certification.webPrefix }}{{ certification.webLink }}" target="_blank">{{ certification.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="conferences">
					<h4>Recent Conferences</h4>
						<ul>
							{% for conference in craft.entries.section('conferences').limit(5).find() %}
								<li><a href="{{ conference.webPrefix }}{{ conference.webLink }}" target="_blank">{{ conference.title }} {{ conference.date |date('Y') }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				

				<div class="web-development-portfolio">
					{% set featuredWebDevelopment = craft.entries.section('webDevelopment').featured('1') %}
					{% for entry in featuredWebDevelopment.order('startDate desc').limit(2).find() %}
						<div class="web-development-preview" id="web-development-preview-{{loop.index}}">
							<h3><a href="{{ entry.getUrl() }}">{{entry.title}}</a></h3>
							{% for block in entry.featuredImage %}
								<div class="image-thumbnail"><a href="{{ entry.url }}"><img src="{{ block.image.first().getUrl(featuredWeb) }}"></a></div>
							{% endfor %}
							{% if entry.homepageSnippet %}
								<div class="snippet">{{ entry.homepageSnippet }}</div>
							{% elseif entry.indexSnippet %}
								<div class="snippet">{{ entry.indexSnippet }}</div>
							{% endif %}

						</div>
					{% endfor %}
				</div>
			</div>





				<div class="skill-stars flex">
					<div class="skill-group">
						<h4>Agile</h4>
						{% for skill in craft.entries.section('skills').type('methodologies').order('strength desc').limit(5) %}
							<div class="skill">
								<span class="tag">{{ skill.title }}</span>
								{% for i in 1..5 %}
									{% if i <= skill.strength %}
										<i class="fa fa-star orange" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-star gray" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<div class="skill-group">
						<h4>Tools &amp; Technologies</h4>
						{% for skill in craft.entries.section('skills').type('technologies').order('strength desc').limit(5) %}
							<div class="skill">
								<span class="tag">{{ skill.title }}</span>
								{% for i in 1..5 %}
									{% if i <= skill.strength %}
										<i class="fa fa-star orange" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-star gray" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<div class="skill-group">
						<h4>Content Management</h4>
						{% for skill in craft.entries.section('skills').type('contentManagementSystems').order('strength desc').limit(5) %}
							<div class="skill">
								<span class="tag">{{ skill.title }}</span>
								{% for i in 1..5 %}
									{% if i <= skill.strength %}
										<i class="fa fa-star orange" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-star gray" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<div class="skill-group">
					<h4>Languages</h4>
						{% for skill in craft.entries.section('skills').type('languages').order('strength desc').limit(5) %}
							<div class="skill">
								<span class="tag">{{ skill.title }}</span>
								{% for i in 1..5 %}
									{% if i <= skill.strength %}
										<i class="fa fa-star orange" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-star gray" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<div class="skill-group">
						<h4>Frameworks</h4>
						{% for skill in craft.entries.section('skills').type('frameworks').order('strength desc').limit(5) %}
							<div class="skill">
								<span class="tag">{{ skill.title }}</span>
								{% for i in 1..5 %}
									{% if i <= skill.strength %}
										<i class="fa fa-star orange" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-star gray" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>







		</div>
		<div class="view-more"><a href="{{ url('web-development') }}">It&nbsp;sounds&nbsp;like&nbsp;you know&nbsp;your&nbsp;stuff.<br>Show&nbsp;me&nbsp;some&nbsp;more.</a></div>
	</div>
{% endblock %}
